<div class="show">
<h2><%= @event.project %></h2>
  <ul class="show">
    <li><%= image_tag @event.image.variant(resize: '480x320') %></li>
    <li><%= @event.genre.name %></li>
    <li><%= @event.overview %></li>
    <li><%= @event.date %></li>
    <li><%= @event.place%></li>
    <li><% if user_signed_in? && current_user.id == @event.user.id %>
        <%= link_to 'イベントの編集', edit_event_path, method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', event_path(@event.id), method: :delete, class:'item-destroy' %>
      <% elsif user_signed_in? && ( current_user.id != @event.user_id ) %>
        <%= link_to '参加登録する', event_joins_path(@event.id) ,class:"item-red-btn"%>
      <% end %>
      </li>
  </ul>
</div>


